<%- include('../layouts/header')  %>
    
    <style>
        /* Center the card in the middle of the page */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        /* Style the card */
        .card {
            text-align: center;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>

    <main>
        <div class="card">
            <h5 class="text-center">Order Confirmation</h5>
            <h3 class="text-success">Your order has been successfully placed!</h3>
            <p>Thank you for shopping with us!</p>
            <a href="/showOrders" class="btn-sm btn-success" >View Order History</a>
        </div>
    </main>

    <footer>
        <!-- Add your site's footer content here -->
    </footer>
</body>
</html>
